body, ul, li{ 
    margin:0; 
    list-style:none; 
    padding:0; 
} 
a{ 
  text-decoration:none; 
  color:inherit; 
}


.main_section{
  text-align: center;
}
.title_bar{
  
}
.editor_body{
  display: inline-block;
  height: 560px;
  width: 90%;
  border: solid black 3px;
}
.toolbar{
  height: 50px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  
}
.toolbar > table{
  width: auto;
}
.text_area{
  height: 500px;
  text-align: center;  
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}
.text_area > iframe{
  height: 100%;
  width: 100%;
}
.btn_area_bottom{
  height: 30px;
}